<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置通知器，通知器的实现定义了需要对目标对象进行的增强行为-->
    <bean id="testAdvisor" class="com.sc.ynk.proxy.TestAdvisor"/>

    <!--使员工JDK的代码工厂生成-->
    <bean id="testJdkAOP" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--AOP代理接口-->
        <property name="proxyInterfaces">
            <value>com.sc.ynk.proxy.TestProxyInterface</value>
        </property>
        <!--需要使用AOP切面增强的对象-->
        <property name="target">
            <bean class="com.sc.ynk.proxy.TestTarget"/>
        </property>
        <!--代理拦截器，配置通知器的名称，即通知器在AOP代理的配置下通过使用代理对象的拦截机制发挥作用-->
        <property name="interceptorNames">
            <list>
                <value>testAdvisor</value>
            </list>
        </property>
    </bean>


    <!--使员工CGLIB的代码工厂生成-->
    <bean id="testCglibAOP" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--需要使用AOP切面增强的对象-->
        <property name="target">
            <bean class="com.sc.ynk.proxy.TestCglibTarget"/>
        </property>
        <!--代理拦截器，配置通知器的名称，即通知器在AOP代理的配置下通过使用代理对象的拦截机制发挥作用-->
        <property name="interceptorNames">
            <list>
                <value>testAdvisor</value>
            </list>
        </property>
    </bean>
</beans>